{#
 # Quick View Modal Template
 #
 # @var image_placement string Product gallery image placement (thumbs-at-left, thumbs-at-right, thumbs-at-bottom)
 # @var description_placement string Product description placement (top, bottom)
 # @var description_style string Description style (full, short)
 # @var show_quantity boolean Whether to show quantity selector
 # @var show_buy_now boolean Whether to show buy now button
 # @var show_suggested boolean Whether to show suggested products
 # @var suggested_module string Suggested products module to use
 #
 # @since 1.0.0
 #}

<div class="quick-view-modal modal"
     x-data="quickViewModel"
     x-show="isOpen"
     x-on:keydown.escape.window="close"
     x-transition:enter="transition ease-out duration-300"
     x-transition:enter-start="opacity-0 scale-90"
     x-transition:enter-end="opacity-100 scale-100"
     x-transition:leave="transition ease-in duration-200"
     x-transition:leave-start="opacity-100 scale-100"
     x-transition:leave-end="opacity-0 scale-90"
     x-cloak
     role="dialog"
     aria-modal="true"
     aria-labelledby="quick-view-title">

    {# Modal Backdrop #}
    <div class="modal-backdrop"
         x-show="isOpen"
         x-transition:enter="transition-opacity ease-linear duration-300"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave="transition-opacity ease-linear duration-200"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0"
         x-on:click="close"
         aria-hidden="true"></div>

    {# Modal Content #}
    <div class="modal-content {{ image_placement }}"
         x-show="isOpen"
         x-on:click.stop>

        {# Close Button #}
        <button type="button"
                class="modal-close"
                x-on:click="close"
                aria-label="{{ 'Close'|translate }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
        </button>

        {# Loading State #}
        <div class="modal-loading" x-show="loading" x-cloak>
            <div class="loading-spinner">
                <svg class="animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <span class="sr-only">{{ 'Loading...'|translate }}</span>
            </div>
        </div>

        {# Error State #}
        <div class="modal-error" x-show="error" x-cloak>
            <div class="error-message" x-text="errorMessage"></div>
            <button type="button"
                    class="btn btn-primary"
                    x-on:click="close">
                {{ 'Close'|translate }}
            </button>
        </div>

        {# Product Content #}
        <div class="modal-product" 
             x-show="!loading && !error"
             x-html="content"
             x-cloak></div>
    </div>
</div>
