<div class="mesmeric-module-page-setting-fields">
    <div class="mesmeric-module-page-setting-field mesmeric-module-page-setting-field-content">
        <div class="mesmeric-module-page-setting-field-inner">
            <div class="alert alert-info">
                <div class="flex items-center gap-4">
                    <i class="text-xl fas fa-info-circle"></i>
                    <div class="flex-1">
                        <p class="mb-2">
                            {{ __('To create a new product bundle, go to Products > Add New menu in the left sidebar of your WordPress admin area. Then, from the Product data dropdown, select Product Bundle.', 'mesmeric-commerce') }}
                        </p>
                        <a href="{{ new_bundle_url }}" target="_blank" class="btn btn-primary btn-sm">
                            {{ __('Add New Bundle', 'mesmeric-commerce') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
